
  .titleContent {
    margin-left: 60px;
  }
  .titlebutton {
    display: flex;
    justify-content: space-between;
  }
  .titlebtninnerdiv {
    display: flex;
    gap: 2rem;
  }
  .filterbtns {
    border: 1px solid rgb(25, 118, 210);
    color: rgb(25, 118, 210);
    background-color: white;
    border-radius: 16px;
    padding: 0.5rem 1rem;
  }
  .active {
    color: white;
    background-color: rgb(25, 118, 210);
    padding: 0.5rem 1rem;
  }
  .input {
   
    height: 30px;
    margin-right: 40px;
    border-radius: 1.25rem;
    border: 1px solid #e5e7eb;
    background: #fff;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0.3rem;
  }
 .search_btn2{
    background: rgb(222,51,226);
    background: linear-gradient(90deg, rgba(222,51,226,1) 12%, rgba(62,65,220,1) 65%);
        color: white;
        width: 150px;
        height: 45px;
        border: none;
        border-radius: 16px;
        margin-left: 5px;
        margin-top: 5px;
 }
 .input_btn{
    margin-top: 20px;
    width: 800px;
    border-radius: 16px;
    border: 1px solid rgb(23, 160, 213);
    height: 49px;
    padding: 1rem;
    margin-bottom: 20px;
 }
  .imgDiv2 {
    display: flex;
    
    flex-direction: row;
    row-gap: 10px;
    gap: 10px;
    margin-left: 60px;
    margin-top: 60px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);  */
  }
  .imgDiv2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
  
    transform: translateY(-5px);
  }
  .imgDiv2 img {
    width: 630px;
    height: 600px;
    border-radius: 15px;
  }
  .cardDiv {
    display: grid;
    place-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 500px;
    margin-right: 500px;
  }
  .card {
    border: 1px solid black;
    width: 400px;
    border: none;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    padding-left: 20px;
    box-shadow: -8px 4px 28px 0px rgba(157, 147, 147, 0.75);
    -webkit-box-shadow: -8px 4px 28px 0px rgba(157, 147, 147, 0.75);
    -moz-box-shadow: -8px 4px 28px 0px rgba(157, 147, 147, 0.75);
  }
  .card:hover {
    box-shadow: -1px -3px 30px 0px rgba(224, 88, 204, 0.84);
    -webkit-box-shadow: -1px -3px 30px 0px rgba(224, 88, 204, 0.84);
    -moz-box-shadow: -1px -3px 30px 0px rgba(224, 88, 204, 0.84);
  }
  .imgdiv2 {
    width: 100%;
    margin-left: 30px;
    display: grid;
    row-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  
    justify-content: space-around;
  }
  .imgdiv2 img {
    width: 300px;
    height: 400px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  @media screen and (max-width:1024px){
    .titleContent{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;}
.titlebutton{
    margin-top: 20px;
}
.imgDiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgdiv2{
    grid-template-columns: repeat(3,1fr);
}

  }
  @media screen and (max-width:820px){
    .input_btn{
        width: 700px;
    }
    .titleContent{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;}
.titlebtninnerdiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.imgDiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgdiv2{
    grid-template-columns: repeat(2,1fr);
}

  }
  @media screen and (max-width:400px){
    .input_btn{
        width: 500px;
    }
    .titleContent{display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;}
    .titlebtninnerdiv{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .imgDiv2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgdiv2{
        grid-template-columns: repeat(2,1fr);
    }
  }