.nav-item {
    margin-right: 40px;
    font-size: 20px;
}
.logo{
    width: 170px;
    height: 50px;
    cursor: pointer;
}
.name{border: 1px solid rgb(51, 23, 233);
border-radius: 16px;
margin-right: 5px;}
.navbar_main{
   width: 100%;
    box-shadow: 0px 5px 20px -2px rgba(229,42,225,0.67);
-webkit-box-shadow: 0px 5px 20px -2px rgba(229,42,225,0.67);
-moz-box-shadow: 0px 5px 20px -2px rgba(229,42,225,0.67);
}
@media screen and (max-width:390px){
    .navbar_main{
        width: 650px;
        height: auto;
        
    }
}
@media screen and (max-width:468px){
    .navbar_main{
         width: 650px;
    }
}
@media  screen and (max-width:578px) {
    .container-fluid{
        width: 650px;
        height: auto;
   }
}

